<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="araragi.doctorsnotebook" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DoctorsNotebook"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="Notebook" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddNewPatientActivity"
            android:label="Add New Patient">
        </activity>
        <activity
            android:name=".activity.CorrectionActivity"
            android:label="Correction">
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="Search">

        </activity>
        <activity
            android:name=".activity.DatabaseActivity"
            android:label="Database">

        </activity>
        <activity
            android:name=".activity.PatientsListActivity"
            android:label="List of Patients">

        </activity>
    </application>

</manifest>
